<meta charset="UTF-8">
<meta http-equiv="Content-Language" content="zh-CN">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="keywords" content="奥运会,nba,体育直播,体育新闻,体育,腾讯体育,腾讯网,NBA直播,NBA视频,英超直播,意甲直播,西甲视频,英超视频,意甲视频">
<meta name="description" content="腾讯体育是中国知名的体育门户网站，主要为您提供以下栏目：国内足球、国际足球、NBA、CBA、综合体育、奥运、直播、彩票、竞猜等，在各项指标中均树立了绝对领先地位。">
<meta name="baidu-site-verification" content="bKqnugZCmo">
<link rel="alternate" type="application/vnd.wap.xhtml+xml" media="handheld" href="//xw.qq.com/m/sports/">
<link rel="stylesheet" href="//mat1.gtimg.com/pingjs/ext2020/spIndex/2019/styles/main-58a757ea8d.css">